.form {
    left:5%;
    padding:10px;
    top: 200px;
    /*
    float: left;
    position:fixed;
    */
    width: auto;
    overflow: hidden;
}
.post_colours {
    color:#52f769;
}

.posts {
    /*float:right;
    width:70%;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
}

/* Will not need if colour is added later on to the post texts */
.stickynote_button_link {color:black;}
.stickynote_button_link:hover {color:black;}
/* ^^^ */

.a_post {
    position: relative;
    
    margin: 10px auto;
    margin-left:10px;
    margin-right:10px;
    padding: 10px;
    width: auto;
    height:250px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    outline: none;
    text-align: left;
    overflow:hidden;
}

.a_post:hover {
    transform: scale(1.1);
}

.post_modal {
    display:none;
}

.post_check_mark {
    color: lightgrey;
    margin-left:5px;
    transition: 0.3s;
}

.radio_colours {
    list-style:none;
    padding:0;
}

.errors {
    color:red;
}

.modal_post_container {
    position: relative;
    padding: 20px;
  
}

.comment_form {
    left:5%;
    padding:10px;
}

.all_comments {
    left: 5%;
    height:250px;
    padding:20px;
    overflow-y: auto;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.modal_alias {
    font-weight: bold;
    font-size: 1.3em;
    overflow: hidden;
}
.modal_comment {
    font-size: 1.2em;
    overflow: hidden;
}
.modal_date {
    font-size: 0.8em;
}